<!-- Sources: https://tex.stackexchange.com/questions/23804/how-to-incorporate-tex-mathematics-into-a-website -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brown Academy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>
<body>
<header>
    <div class="nav justify-content-center">
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('index') }}">Brown Academy</a>
      </div>
    </div>
    </div>
    </nav>
    </div>
</header>

<h1>Problem One</h1>
<p class="math">Determine the value of $k$ for which the system below has no solutions.</p>
<p class="math">
    $

        \left\{
        \begin{array}{r@{}r@{}r@{}r@{}r}
        x    & + y   & + 4 z & = & 3 \\
        x    & +2y   &  - 3 z & = & -2 \\
        4 x & +10 y & + k z  & = & -17
        \end{array}
        \right.

    $
</p>
<h2>Solution</h2>
<p class="math">
    Augmented Matrix: <br>
    $
    \begin{bmatrix}
    1 & 1 & 4 & | & 3 \\
    1 & 2 & -3 & | & -2 \\
    4 & 10 & k & | & -17
    \end{bmatrix}
    $
</p>
<p class="math">
    Step 1: Multiply Row 1 by -2, then remove all negatives in Row 2: <br>
    $
    \begin{bmatrix}
    1 & 1 & 4 & | & 3 \\
    1 & 0 & 11 & | & 8 \\
    4 & 10 & k & | & -17
    \end{bmatrix}
    $
</p>
<p class="math">
    Step 2: Subtract Row 2 from Row 1: <br>
    $
    \begin{bmatrix}
    0 & 1 & -7 & | & -5 \\
    1 & 0 & 11 & | & 8 \\
    4 & 10 & k & | & -17
    \end{bmatrix}
    $
</p>
<p class="math">
    Step 3: Subtract -4 times Row 2 from Row 3: <br>
    $
    \begin{bmatrix}
    0 & 1 & -7 & | & -5 \\
    1 & 0 & 11 & | & 8 \\
    0 & 10 & k - 44 & | & -49
    \end{bmatrix}
    $
</p>
<p class="math">
    Step 4: Add -10 times Row 1 to Row 3: <br>
    $
    \begin{bmatrix}
    0 & 1 & -7 & | & -5 \\
    1 & 0 & 11 & | & 8 \\
    0 & 0 & k - 44 + 70 & | & 1
    \end{bmatrix}
    $
</p>
<p class="math">
    Step 5: Now, solve for k so that the bottom row only has zeros: <br>
    $ k - 44 + 70 = 0 $ <br>
    $ k + 26 = 0 $ <br>
    $ k = -26 $ <br>
</p>
<h2>
    Therefore, $k = -26$
</h2>
</body>
</html>